.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  position: absolute;
  z-index: 9999;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 0;
  right: 0px;
  left: 0px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.headerHeading {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0;
}

.headerHeading span {
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 5px;
}

@media (max-width: 1920px) {
  .headerHeading {
    margin-top: 15px;
  }
}
