html {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 0.75rem;
}


